@charset "UTF-8";

.content-main {
	text-align: left;
	display: inline-block;
}

th, td {
	padding: 10px;
}

body .p_body {
	min-height: 450px;
}

body .p_div {
	display: flex;
	justify-content: center;
} /* flex-wrap:wrap; */
.m_btn {
	width: 40px;
	height: auto;
	background: lightgray;
	border: transparent;
	border-radius: 0.2em;
	padding: 5px;
	margin: 2px;
}

.p_img {
	width: 100%;
	height: auto;
}

#spaceDiv .p_btn {
	max-width: 40px;
	height: fit-content;
	background: lightgray;
	border: transparent;
	border-radius: 0.2em;
	padding: 5px;
	margin: 2px;
} /* flex:1 0 120px; */
.card-body .form-control {
	margin-top: 5px;
}