@charset "UTF-8";

/* BASIC */
.bigfont{font-size:3em; font-weight:bold; font-family: Montserrat}
.middlefont{font-size:2em; font-weight:bold; color:white; font-family: Montserrat}
.samllfont{font-size:25px; font-weight:bold; color:white; font-family: Montserrat}

.head_header{position:relative;}
.head_screen{top: 0;left: 0;position: absolute;margin-left: 28.5rem;margin-top: 16rem;}
    	
section .notice_a{color:white;}
    	
.advertDiv{text-align:center;}
    	
@media (min-width: 992px){
	.head_screen{
	    max-width: 960px;
	}
}
@media (min-width: 768px){
	.head_screen{
	    max-width: 720px;
	}
}
@media (min-width: 576px){
	.head_screen{
	    max-width: 540px;
	}
}
		
/* 마이페이지 */
.mybaobob {
	color:white;
	background-color: 487752;
	padding: 2rem 5rem;
	border-radius: 0.3rem;}
.mybaobob table.board {background-color:487752; margin: auto; width: auto; border-collapse: collapse;}
.mybaobob table.board img {width:400px; background-color:487752;}
.mybaobob caption {font-weight: bold;font-size: 40px;color:white;margin-bottom:50px;}
.mybaobob table.board th {height: 50px; width: 300px;padding: 20px;font-weight: bold;color: white;vertical-align: top; text-align:center;}
.mybaobob table.board td {padding: 17px;vertical-align: top; text-align: center; color:white;}


.vertical-menu {
    width: 250px;
    font-family: Montserrat;
}

.vertical-menu a {
    color: 487752;
    display: block;
    padding: 12px;
    text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	background-color: white;
}

.vertical-menu a:hover {
	color: A5C952;
    text-decoration: none;
}

.vertical-menu a.active {
	font-size: 30px;
	font-weight: bold;
    background-color: white;;
    color: 487752;
}


.baobobImg{
	width:1000px;
}



