<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sprint.mvc.baobob.android.persistence.AndroidDAO">

	<!-- 주차장 해당 구역 정보 -->
	<select id="getParking" resultType="spring.mvc.baobob.vo.Parking">
		SELECT * 
		FROM park_tbl
	</select>
	
	<insert id="parkingInsert" parameterType="spring.mvc.baobob.vo.Parking">
		INSERT INTO park_tbl
			(park_index, park_state, park_theme, park_last_date)
		VALUES
			(#{param1}, #{param2}, #{param3}, SYSTIMESTAMP)
	</insert>
</mapper>