<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="spring.mvc.baobob.android.persistence.AndroidDAO">

	<!-- 영화 예매 건수 -->
	<select id="getUseMovieCnt" resultType="int">
		SELECT COUNT(*)
		FROM movie_history_tbl mh, history_tbl ht
		WHERE mh.history_index = ht.history_index
			AND ht.member_id = #{id}
	</select>
	
	<!-- 식당 예매 건수 -->
	<select id="getUseRestaurantCnt" resultType="int">
		SELECT COUNT(*)
		FROM restaurant_history_tbl rh, history_tbl ht
		WHERE rh.history_index = ht.history_index
			AND ht.member_id = #{id}
	</select>
	
	<!-- 주차 이용 건수 -->
	<select id="getUseParkingCnt" resultType="int">
		SELECT COUNT(*)
		FROM park_history_tbl ph, history_tbl ht
		WHERE ph.history_index = ht.history_index
			AND ht.member_id = #{id}
	</select>

	<!-- 문의 내역(1:1, 분실물) -->
	<select id="getBoardList" resultType="spring.mvc.baobob.vo.BoardVO">
		<![CDATA[
		SELECT board_type, board_subject, board_content
		FROM board_tbl
		WHERE member_id = #{id}
		    AND board_type IN (2, 3)
		    AND	TO_CHAR(board_reg_date, 'DDD') >= TO_CHAR(SYSTIMESTAMP - 10, 'DDD')
		]]>
	</select>
	
	<!-- 영화 예매 내역 -->
	<select id="getMemberMovieTicketing" resultType="spring.mvc.baobob.vo.Android">
		SELECT sd data1, ss data2, se data3, movie_title data4, movie_poster data5
		FROM (
		    SELECT movie_index movie, schedule_startDate sd, schedule_startTime ss, schedule_endTime se
		    FROM (
		        SELECT t.theater_schedule_index idx
		        FROM history_tbl h, movie_history_tbl m, theater_seat_tbl t
		        WHERE h.history_index = m.history_index
		            AND m.theater_schedule_index = t.theater_schedule_index
		            AND t.seat_state = 6
		            AND h.member_id = #{id}
		        ), theater_schedule_tbl ts
		    WHERE ts.theater_schedule_index = idx
		    ), movie_tbl mt
		WHERE mt.movie_index = movie
	</select>
</mapper>