<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="spring.mvc.baobob.host_total.persistence.Host_totalDAO">
	
	<!-- 회원수 구하기 -->
	<select id="getMemCnt" resultType="int">
		SELECT COUNT(*) FROM member_tbl
	</select>
	
	<!-- 회원 목록 조회 -->
	<select id="getMemList" resultType="spring.mvc.baobob.vo.Member">
		<![CDATA[
		SELECT * 
		FROM ( SELECT member_id,member_name,member_tel,member_email,member_birth,
		              member_sex,member_address,member_img,member_point,member_cumPoint,
		              member_step,member_reg_date,rownum rNum
		       FROM (SELECT * 
		              FROM member_tbl
		              ORDER BY member_step ASC)
		     )
		WHERE rNum >= #{start} AND rNum <= #{end}
		]]>
	</select>
	
	<!-- 회원 추가 -->
	<insert id="insertMember" parameterType="spring.mvc.baobob.vo.Member">
		INSERT INTO member_tbl (member_id, member_pwd, member_name, member_tel, member_email, member_birth, member_sex, member_address, member_point, member_step, member_cumPoint,member_img, member_reg_date) 
		VALUES (#{member_id},#{member_pwd},#{member_name},#{member_tel},#{member_email},#{member_birth},#{member_sex},#{member_address}, 0, #{member_step},0,default,#{member_reg_date})
	</insert>
	
	<!-- 아이디 중복 확인 -->
	<select id="confirmId" resultType="int">
		SELECT COUNT(*) 
		FROM member_tbl 
		WHERE member_id = #{id}
	</select>
	
	<!-- 회원정보 수정 처리 -->
	<update id="hostTMemModifyPro" parameterType="spring.mvc.baobob.vo.Member">
		UPDATE member_tbl 
		SET member_name=#{member_name},
			member_step=#{member_step},
			member_pwd=#{member_pwd},
			member_email=#{member_email}, 
			member_tel=#{member_tel},
			member_address=#{member_address}
		WHERE member_id=#{member_id}
	</update>
	
	<!-- 회원 삭제 -->
	<delete id="hostTMemDelPro" parameterType="String">
		DELETE FROM member_tbl WHERE member_id = #{strId}
	</delete>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

</mapper>