<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="spring.mvc.baobob.host_total.persistence.Host_totalDAO">
	
	<!-- 회원수 구하기 -->
	<select id="getMemCnt" resultType="int">
		SELECT COUNT(*) FROM member_tbl
	</select>
	
	<!-- 회원 목록 조회 -->
	<select id="getMemList" resultType="spring.mvc.baobob.vo.Member">
		<![CDATA[
		SELECT * 
		FROM ( SELECT member_id,member_name,member_tel,member_email,member_birth,
		              member_sex,member_address,member_img,member_point,member_cumPoint,
		              member_step,member_reg_date,rownum rNum
		       FROM (SELECT * 
		              FROM member_tbl
		              ORDER BY member_step ASC)
		     )
		WHERE rNum >= #{start} AND rNum <= #{end}
		]]>
	</select>
	
	<!-- 회원 추가 -->
	<insert id="insertMember" parameterType="spring.mvc.baobob.vo.Member">
		INSERT INTO member_tbl (member_id, member_pwd, member_name, member_tel, member_email, member_birth, member_sex, member_address, member_point, member_step, member_cumPoint,member_img, member_reg_date) 
		VALUES (#{member_id},#{member_pwd},#{member_name},#{member_tel},#{member_email},#{member_birth},#{member_sex},#{member_address}, 0, #{member_step},0,default,#{member_reg_date})
	</insert>
	
	<!-- 아이디 중복 확인 -->
	<select id="confirmId" resultType="int">
		SELECT COUNT(*) 
		FROM member_tbl 
		WHERE member_id = #{id}
	</select>
	
	<!-- 회원정보 수정 처리 -->
	<update id="hostTMemModifyPro" parameterType="spring.mvc.baobob.vo.Member">
		UPDATE member_tbl 
		SET member_name=#{member_name},
			member_step=#{member_step},
			member_pwd=#{member_pwd},
			member_email=#{member_email}, 
			member_tel=#{member_tel},
			member_address=#{member_address}
		WHERE member_id=#{member_id}
	</update>
	
	<!-- 회원 삭제 -->
	<delete id="hostTMemDelPro" parameterType="String">
		DELETE FROM member_tbl WHERE member_id = #{strId}
	</delete>
	
	<!-- 영화관 결산 총액 구하기 -->
	<select id="getMovieSale" resultType="int">
		SELECT NVL(SUM(movie_history_price),0) FROM movie_history_tbl
	</select>
	
	<!-- 영화관 결산페이지(챠트) -->
	<resultMap type="spring.mvc.baobob.vo.hostTChartVO" id="movieChart">
		<id		property="kind" 	column="kind" />
		<result property="sum" 		column="sum" />
	</resultMap> 
	<select id="getMovieChart" resultMap="movieChart">
		SELECT NVL(m.movie_janre,0) kind, SUM(h.movie_history_price) sum 
		FROM movie_tbl m JOIN theater_schedule_tbl t  
		ON m.movie_index = t.movie_index
		JOIN movie_history_tbl h
		ON t.theater_schedule_index = h.theater_schedule_index
		GROUP BY ROLLUP(m.movie_janre)
	</select>
	<!-- 
		<select id="getMovieChart" resultType="spring.mvc.baobob.vo.hostTChartVO">
		SELECT NVL(m.movie_janre,0) kind, SUM(h.movie_history_price) sum 
		FROM movie_tbl m JOIN theater_schedule_tbl t  
		ON m.movie_index = t.movie_index
		JOIN movie_history_tbl h
		ON t.theater_schedule_index = h.theater_schedule_index
		GROUP BY ROLLUP(m.movie_janre)
	</select> 
	-->
	
	<!-- 식당 결산 총액 구하기 -->
	<select id="getRestaurantSale" resultType="int">
		SELECT NVL(SUM(fh.restaurant_menu_count * m.restaurant_menu_price),0)
		FROM restaurant_food_history_tbl fh JOIN restaurant_menu_tbl m
		ON m.restaurant_menu_index = fh.restaurant_menu_index
	</select>
	
	<!-- 식당 결산페이지(챠트) -->
	<resultMap type="spring.mvc.baobob.vo.hostTChartVO" id="restaurantChart">
		<id		property="kind" 	column="kind" />
		<result property="sum" 		column="sum" />
	</resultMap> 
	<select id="getRestaurantChart" resultMap="restaurantChart">
		SELECT NVL(fh.restaurant_index,0) kind, 
		       NVL(SUM(fh.restaurant_menu_count * m.restaurant_menu_price),SUM(1 * m.restaurant_menu_price)) sum
		FROM restaurant_food_history_tbl fh JOIN restaurant_menu_tbl m
		ON m.restaurant_menu_index = fh.restaurant_menu_index
		GROUP BY ROLLUP(fh.restaurant_index)
	</select>
	
	<!-- 주차 기본요금 -->
	<select id="getParkingFee" resultType="spring.mvc.baobob.vo.ParkingFee">
		SELECT *
		FROM park_fee_tbl
	</select>
	
	<!-- 올해 납부 내역 -->
	<select id="getThisYearPayList" resultType="spring.mvc.baobob.vo.ParkingHistory">
		SELECT *
		FROM park_history_tbl
		WHERE p_history_out IS NOT NULL
		AND TO_CHAR(p_history_out, 'Y') = TO_CHAR(SYSDATE, 'Y')
	</select>
	
	
	
	

</mapper>